import os

os.environ["SECRET_KEY"] = "example"

os.environ["DEBUG"] = "True"

os.environ["LOCALHOST"] = '127.0.0.1'

#Stripe
os.environ["STRIPE_PUBLIC_KEY"] = 'pk_test_example'
os.environ["STRIPE_SECRET_KEY"] = 'sk_test_example'

# Admin Credentials
os.environ["ADMIN"] = 'Admin'
os.environ["PASSWORD_ADMIN"] = 'example'
