import os

os.environ["SECRET_KEY"] = "XXXXXXXX"

os.environ["DEBUG"] = "True"

os.environ["LOCALHOST"] = '127.0.0.1'
os.environ["GITPOD"] = '8000-sergiikosta-codeinstitu-stzwz3gziaw.ws-eu104.gitpod.io'

#Stripe
os.environ["STRIPE_PUBLIC_KEY"] = 'XXXXXX'
os.environ["STRIPE_SECRET_KEY"] = 'XXXXXX'
# os.environ["STRIPE_WH_SECRET_wrong"] = 'XX'
os.environ["STRIPE_WH_SECRET"] = 'XXXXX'

# Admin Credentials
os.environ["ADMIN"] = 'Admin'
os.environ["PASSWORD_ADMIN"] = 'XXXXXX'
